.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
	stroke: white;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
	fill: white;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: .5px;

}

circle{
	fill:blue;
	stroke:grey;
}
body{
	background-color: black;
	color: white;
}

