@import "color.less";

//SVG Styling
.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
	stroke: white;
}

svg text {
	font-family: sans-serif;
	fill: white;
}

.axis text{
		font-size: 11px;
}

.axis text:after{
	content:"%";
}
svg .line {
  fill: none;
  
  stroke-width: 3px;
	stroke: white;
	&.male{stroke: @lightblue}
	&.female{stroke: @pink;}
	&.base{stroke: @yellow;}

}

circle{
	fill:@lightblue;
	stroke:grey;
}
body{
	color: white;
}

//TEXT
*{}
.Custom{
	color: white;
}
h4{
	&.datum{
		margin-left:.33em;
		&.base{color: @yellow;}
		&.current{color: white;}
		&.male{color: @lightblue;}
		&.female{color: @pink;}
		font-size:3em;
		display:inline;
	}
}
h3{
	&.label{
		font-size:1.5em;
		display: inline;
	}
}

//divs
#d3{
	height:425px;
	width: 1024px;
	background-color: @black;
}
