/* @pink:  #C5299B*/
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
  stroke: white;
}
svg text {
  font-family: sans-serif;
  fill: white;
}
.axis text {
  font-size: 11px;
}
.axis text:after {
  content: "%";
}
svg .line {
  fill: none;
  stroke-width: 3px;
  stroke: white;
}
svg .line.male {
  stroke: #a4dbe8;
}
svg .line.female {
  stroke: #ad1aac;
}
svg .line.base {
  stroke: #ffb81c;
}
circle {
  fill: #a4dbe8;
  stroke: grey;
}
body {
  background-image: url(../IMG/bg.jpg);
  color: white;
}
h2.datum {
  margin-left: .33em;
  font-size: 3em;
  display: inline;
}
h2.datum.base {
  color: #ffb81c;
}
h2.datum.current {
  color: white;
}
h2.datum.male {
  color: #a4dbe8;
}
h2.datum.female {
  color: #ad1aac;
}
h3.label {
  font-size: 1.5em;
  display: inline;
}
#d3 {
  height: 720;
  width: 960;
  background-color: rgba(0, 0, 0, 0.7);
}
