/* @pink:  #C5299B*/
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
  stroke: white;
}
svg text {
  font-family: sans-serif;
  fill: white;
}
.axis text {
  font-size: 11px;
}
.axis text:after {
  content: "%";
}
svg .line {
  fill: none;
  stroke-width: 3px;
  stroke: white;
}
svg .line.male {
  stroke: #2baeff;
}
svg .line.female {
  stroke: #ff2b84;
}
svg .line.base {
  stroke: #ffb81c;
}
circle {
  fill: #2baeff;
  stroke: grey;
}
body {
  color: white;
}
.Custom {
  color: white;
}
h4.datum {
  margin-left: .33em;
  font-size: 3em;
  display: inline;
}
h4.datum.base {
  color: #ffb81c;
}
h4.datum.current {
  color: white;
}
h4.datum.male {
  color: #2baeff;
}
h4.datum.female {
  color: #ff2b84;
}
h3.label {
  font-size: 1.5em;
  display: inline;
}
#d3 {
  height: 425px;
  width: 1024px;
  background-color: rgba(0, 0, 0, 0.7);
}
