

/*- Style Sheet for Life Saving -*/


/*- Font Definitions -*/
@font-face {
  font-family: "title";
  src: url("../FONTS/Linotype - UniversLTPro-UltraCondensed.otf") format("opentype");
}

@font-face {
  font-family: "sub-title";
  src: url("../FONTS/GothamRnd-Light.otf") format("opentype");
}

@font-face {
  font-family: "label";
  src: url("../FONTS/GothamRnd-Book.otf") format("opentype");
}

/*- Overall Page Formatting -*/
* {
	margin: 0;
	padding: 0;
	color:white;
}

html, body
{
	width: 1024px;
	height: 768px;
	background-color:black;
	background-repeat:no-repeat;
	background-image:url("../IMAGES/UnemploymentBG.jpg");
	overflow:hidden;
}

.hidden
{
	display:none;
}

/*- - -*/

#TopContainer {
	background-color:transparent;
	width:1024px;
	height:175px;
}
#TopLeft {
	width:50%;
	height:100%;
	float:left;
}
#TopLeft p {
	margin-top:20px;
	color:#a3d9e6;
	text-align:center;
	font-size:63px;
	font-family:"title";
}
#TopLeft H2 {
	margin-top:-25px;
	color:white;
	text-align:center;
	font-size:19px;
	font-family: "sub-title";
}

#TopRight {
	width:50%;
	height:100%;
	float:right;
}

#MidContainer {
	background-color:transparent;
	width:auto;
	height:auto;
}
#MidContainer img {
	display: block;
	position:relative;
	margin-left: auto;
	margin-right: auto;
}

#BotContainer {
	background-color:transparent;
	width:1024px;
	height:168px;
}
#BotLeft {
	background-color:transparent;
	width:165px;
	height:50%;
	float:left;
	margin-top:84px;
}

.Gender {
	width:38px;
	height:38px;
	border: 2px solid #505a7d;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #a8d0f7, inset 0px 0px 4px #6d8294;
	background-image: -webkit-linear-gradient(top, #111111, #171717);
	background-image: linear-gradient(top, #111111, #171717);
	background-clip: padding-box;
	float:left;
	margin-left:10px;
}
.Gender.Female {
	margin-left:22px;
}
.Gender.Male {
	
}
.Gender.Female.Active {
	border: 2px solid #999999;
	background-image: -webkit-linear-gradient(top, #632d31, #421012);
	background-image: linear-gradient(top, #632d31, #421012);
}
.Gender.Male.Active {
	border: 2px solid #999999;
	background-image: -webkit-linear-gradient(top, #698f96, #103840);
	background-image: linear-gradient(top, #698f96, #103840);
}

#BotRight {
	background-color:transparent;
	height:100%;
	width:859px;
	left:165px;
	float:right;
}
.EduHolder {
	width:665px;
	height:30px;
	border: 2px solid #999999;
	border-radius: 5px;
	box-shadow: 0px 0px 5px white, inset 0 0 15px #415078;
	background-image: -webkit-linear-gradient(top, #111111, #171717);
	background-image: linear-gradient(top, #111111, #171717);
	background-clip: padding-box;
	float:right;
	margin-right:40px;
	margin-top:22px;
	color:white;
	text-align:center;
	font-size:20px;
	font-family: "sub-title";
	padding-top:8px;
}
.AgeHolder {
	width:665px;
	height:32px;
	border: 2px solid #999999;
	border-radius: 5px;
	box-shadow: 0px 0px 5px white, inset 0 0 15px #415078;
	background-image: -webkit-linear-gradient(top, #111111, #171717);
	background-image: linear-gradient(top, #111111, #171717);
	background-clip: padding-box;
	float:right;
	margin-right:115px;
	margin-top:-38px;
	color:white;
	text-align:center;
	font-size:20px;
	font-family: "sub-title";
	padding-top:8px;
}

/*- General Formatting -*/
.LabelTop {
	height:100px;
	width:50%;
	float:left;
	text-align:right;
	font-family: "label";
	color:white;
	text-shadow: 3px 3px 2px #4d4d4d;
	font-size:18px;
}
.LabelGender {
	height:30px;
	width:50%;
	float:left;
	font-size:26px;
	text-align:right;
	font-family: "label";
	color:white;
	margin-left:33px;
	margin-top:6px;
	text-shadow: 3px 3px 2px #4d4d4d;
	pointer-events:none;
}
.LabelBot {
	position:absolute;
	pointer-events:none;
	height:50%;
	width:75px;
	text-align:left;
	font-family: "label";
	font-size:26px;
	color:white;
	text-shadow: 3px 3px 2px #4d4d4d;
	float:left;
	top:-200px;
	left:30px;
	
}
.LabelBot.Edu {
	top:625px;
	left:43px;
}
.LabelBot.Age {
	top:690px;
	left:175px;
}
.Percent {
	float:right;
	margin-right:80px;
	text-align:left;
	font-size:64px;
	font-family: "label";
}
.Percent.National {
	color:#ebb52f;
	margin-top:13px;
}
.Percent.Custom {
	color:#fa6169;
	margin-top:-8px;
}

#genderbtn {
	position:absolute;
	top:725px;
	left:30px;
	font-size:12px;
}

#agebtn {
	position:absolute;
	top:688px;
	left:236px;
	font-size:12px;
}

#educationbtn {
	position:absolute;
	top:624px;
	left:180px;
	font-size:11px;
}

.ADA {
	position:absolute;
	width:89px;
	height:77px;
	left:935px;
	top: 691px;
	background-repeat:no-repeat;
	background-image:url('../IMAGES/ada.png');
}